/* ========================================================
    LAYOUT
    ======================================================== */
.container {
    width : 90%;
    margin: 0 auto;

    @include medium {
        width: 80%;
    }

    @include large {
        width    : 70%;
        max-width: 1300px;
    }
}

/* ========================================================
    GRID
    ======================================================== */
.grid {
    display: grid;
}

.grid-column--two {
    grid-template-columns: 1fr;

    @include medium {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-column--three {
    grid-template-columns: 1fr;

    @include medium {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ========================================================
    GRID GAPS
    ======================================================== */
.gap--sm {
    gap: $spacing--sm;
}

.gap--md {
    gap: $spacing--md;
}

.gap--lg {
    gap: $spacing--lg;
}

.gap--xl {
    gap: $spacing--xl;
}

/* ========================================================
    GRID GAPS //END
    ======================================================== */
/* ========================================================
    GRID ORDER
    ======================================================== */
.grid-row-first {
    grid-row: 1;
}

.grid-col-first {
    grid-column: 1;
}

/* ========================================================
    GRID ORDER //END
    ======================================================== */
/* ========================================================
    GRID //END
    ======================================================== */
/* ========================================================
    FLEX
    ======================================================== */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* ========================================================
    FLEX //END
    ======================================================== */
/* ========================================================
    MISC
    ======================================================== */
.no-margin {
    margin: 0;
}

.hidden-sm {
    @include small {
        display: none;
    }
}

.hidden-md {
    @include medium {
        display: none;
    }
}

.hidden-lg {
    @include large {
        display: none;
    }
}

.hidden-xl {
    @include extra-large {
        display: none;
    }
}

.divider {
    margin: $spacing--md 0;

    @include medium {
        margin-top   : $spacing--lg;
        margin-bottom: $spacing--lg;
    }

    @include large {
        margin-top   : $spacing--xl;
        margin-bottom: $spacing--xl;
    }
}

.full-width {
    width       : 100vw;
    position    : relative;
    left        : 50%;
    right       : 50%;
    margin-left : -50vw;
    margin-right: -50vw;
}

/* ========================================================
    MISC //END
    ======================================================== */

.four-o-four-container {
    @extend .flex;
    @extend .flex-column;
    align-items    : center;
    justify-content: center;
    min-height     : 50vh;

    h1 {
        font-size: $spacing--md;
    }

    p {
        @extend .text--muted;
        margin-bottom: $spacing--md;
    }
}

/*  ========================================================
    MAIN CONTENT
    ======================================================== */
main {
    margin-bottom: $spacing--md !important;
}

section {
    margin-bottom: $spacing--md;

    &:last-child {
        margin-bottom: 0;
    }

    @include medium {
        margin-bottom: $spacing--lg;
    }

    @include large {
        margin-bottom: $spacing--xl;
    }
}

.section__header {
    margin-bottom: $spacing--sm;

    @include medium {
        margin-bottom: $spacing--md;
    }
}

.section__title {
    margin-bottom: $spacing--sm - 1.25rem;

    @include large {
        font-size: 3rem;
    }
}

.section__text {
    @extend .text--muted;
    @extend .text;
    margin-bottom: 0;
}

/* ========================================================
    MAIN CONTENT //END
    ======================================================== */
/* ========================================================
    LAYOUT //END
    ======================================================== */