/* ##############################################
    Layout
################################################*/
/* ##############################################
    Container Classes
################################################*/
.container {
    width : 90%;
    margin: 0 auto;
    flex  : 1 0 auto;

    @include medium {
        width: 80%;
    }

    @include medium-large {
        width    : 70%;
        max-width: 800px;
    }

    @include large {
        width    : 60%;
        max-width: 1000px;
    }
}

main {
    padding-top   : 1.875rem;
    padding-bottom: 1.875rem;

    &.home {
        padding-top: 1.875rem;

    }
}

/* ##############################################
    Margin Helpers
################################################*/
/* ##############################################
    Margin Top
################################################*/
.margin--none {
    margin: 0;
}

.margin-vertical--xl {
    margin: $spacing--base * 6 0;
}

/* ##############################################
    Margin Top
################################################*/
.margin-top--none {
    margin-top: 0;
}

.margin-top--sm {
    margin-top: 0.9375rem;
}

.margin-top--md {
    margin-top: 1.875rem;
}

.margin-top--lg {
    margin-top: 3.125rem;
}

.margin-top--xl {
    margin-top: 6.25rem;
}

/* ##############################################
    Margin Bottom
################################################*/
.margin-bottom--none {
    margin-bottom: 0;
}

.margin-bottom--sm {
    margin-bottom: 0.9375rem;
}

.margin-bottom--md {
    margin-bottom: 1.875rem;
}

.margin-bottom--lg {
    margin-bottom: 3.125rem;
}

.margin-bottom--xl {
    margin-bottom: 6.25rem;
}

/* ##############################################
    Padding Helpers
################################################*/
/* ##############################################
    No Padding
################################################*/
.padding--none {
    padding: none;
}

/* ##############################################
    Padding
################################################*/
.padding--sm {
    padding: $spacing--base;

    @include large {
        padding: $spacing--two;
    }
}

.padding--md {
    padding: $spacing--two;

    @include large {
        padding: $spacing--three;
    }
}

.padding--lg {
    padding: $spacing--three;

    @include large {
        padding: $spacing--four;
    }
}

/* ##############################################
    Flex Classes
################################################*/
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

/* ##############################################
    Flex Direction
################################################*/
.flex-direction--row {
    flex-direction: row;
}

.flex-direction--row-reverse {
    flex-direction: row-reverse;
}

.flex-direction--column {
    flex-direction: column;
}

.flex-direction--column-reverse {
    flex-direction: column-reverse;
}

/* ##############################################
    Align Self
################################################*/
.align-self--start {
    align-self: flex-start;
}

.align-self--end {
    align-self: flex-end;
}

.align-self--center {
    align-self: center;
}

/* ##############################################
    Align Items
################################################*/
.align-items--start {
    align-items: flex-start;
}

.align-items--end {
    align-items: flex-end;
}

.align-items--center {
    align-items: center;
}

/* ##############################################
    Justify Self
################################################*/
.justify-self--start {
    justify-self: flex-start;
}

.justify-self--end {
    justify-self: flex-end;
}

.justify-self--center {
    justify-self: center;
    margin      : 0 auto;
}

/* ##############################################
    Justify Content
################################################*/
.justify-content--start {
    justify-content: flex-start;
}

.justify-content--end {
    justify-content: flex-end;
}

.justify-content--center {
    justify-content: center;
    margin         : 0 auto;
}

.justify-content--space-evenly {
    justify-content: space-evenly;
}

.justify-content--space-around {
    justify-content: space-around;
}

.justify-content--space-between {
    justify-content: space-between;
}