h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: 700;
    margin     : 0 0 1rem;
    line-height: 1.25;
}

h1 {
    font-size: 2.25rem;

    @include large {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;

    @include large {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    margin-top: 0;
}

.text {
    line-height: 2;
}

.text--muted {
    opacity: 0.5;
}