h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top   : 0;
    margin-bottom: $spacing--base;
    font-family  : $font-family--headings;
    font-weight  : 600;

    @include medium {
        margin-bottom: 1.5rem;
    }

    @include large {
        margin-bottom: 1.875rem;
    }
}

a {
    text-decoration: none;
    color          : $color--primary;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top   : 0;
    margin-bottom: $spacing--base;
    line-height  : $line-height--two;

    &:last-child {
        margin-bottom: 0;
    }
}

.text--small-caps {
    font-variant: all-small-caps;
    font-size   : 1.1rem;
}

.text--muted {
    color: $font-color--grey;
}

.title--sm {
    font-size: 1.25rem;
}

.title--md {
    font-size: 1.5rem;
}

.title--lg {
    font-size: 2rem;
}

.title--xl {
    font-size: 3rem;
}

.text-align--center {
    text-align: center;
}