<div class="navbar-brand">
	<div class="logo">
		<a href="{{site.link}}" class="logo__link">
			<img src="{{theme.link}}/assets/img/logo.svg" alt="{{site.name}}" class="logo__image">
		</a>
	</div>
</div>
