{% extends "base.twig" %}

{% block content %}
	<div class="four-o-four-container">
		<h1>404</h1>
		<p>Het lijkt er op dat deze pagina niet meer bestaat :(</p>
		<div>
			<a href="{{site.link}}" class="button">Terug naar voorpagina</a>
		</div>
	</div>
{% endblock %}
