{% extends "index.twig" %}

{% block content %}
	<section class="archive">
		<div class="section__header">
			<h1 class="section__title">{{title}}</h1>
			<p class="section__text">Op deze pagina vindt u mijn recente projecten.</p>
		</div>

		{% if projects is not empty %}
			<div class="project-previews grid grid-column--two">
				{% for project in projects %}
					{% include "partials/project-preview.twig" %}
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
