{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}

	<h1>{{post.type.title}}</h1>

	<ul class="archive-items">
		{% for post in projects %}
			<li class="archive-item">
				<h3 class="archive-item__title">{{post.title}}</h3>
				<p class="archive-item__content">{{post.excerpt}}</p>
				<a href="{{post.link}}" class="link--archive-item">Bekijk</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
