{% set cta_text = 'Ik ben momenteel op zoek naar een nieuwe uitdaging in omgeving Alphen aan den Rijn/Leiden of omgeving Hoofddorp/Schiphol, denkt u dat ik geschikt ben? Neem dan contact op en/of download mijn CV!' %}

{% block head %}
	{% include 'layout/head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

	<header>
		{% block header %}
			{% include 'layout/header.twig' %}
		{% endblock %}
		{% if not fn('is_front_page') %}
			<hr class="no-margin">
			{{custom_breadcrumbs()}}
			<hr class="no-margin">
		{% endif %}
	</header>

	<main {% if fn('is_front_page') %} {% elseif post.type == 'project' %} {% else %} class="container" {% endif %}>
		{% block content %}
			Content
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
			{% include 'layout/footer.twig' %}
		{% endblock %}
	</footer>

</body></html>
