{% block head %}
	{% include 'layout/head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<header>
		{% block header %}
			<div class="navbar navbar-expand-md">
				{% include "partials/logo.twig" %}

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{% include "partials/navigation.twig" %}
			</div>
		{% endblock %}
	</header>

	{% if not fn('is_front_page') %}
		<div class="container">{{custom_breadcrumbs()}}</div>
	{% endif %}

	<main {% if not fn('is_front_page') %} class="container" {% endif %}>
		{% block content %}
			Content
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
			{% include 'layout/footer.twig' %}
		{% endblock %}
	</footer>
</body></html>
