{% block head %}
	{% include 'layout/head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

	<header>
		{% block header %}
			{% include 'layout/header.twig' %}
		{% endblock %}
		{% if not fn('is_front_page') %}
			<hr class="no-margin">
			{{custom_breadcrumbs()}}
			<hr class="no-margin">
		{% endif %}
	</header>

	<main {% if not fn('is_front_page') %} class="container" {% endif %}>
		{% block content %}
			Content
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
			{% include 'layout/footer.twig' %}
		{% endblock %}
	</footer>

</body></html>
