{% block head %}
	{% include 'layout/head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<header>
		{% block header %}
			<div class="container">
				<div class="navbar navbar-expand-md">
					{% include "partials/logo.twig" %}
					{% include "partials/navigation.twig" %}
				</div>
			</div>
		{% endblock %}
	</header>

	{% if not fn('is_front_page') %}
		<div class="container">{{custom_breadcrumbs()}}</div>
	{% endif %}

	<main {% if not fn('is_front_page') %} class="container" {% endif %}>
		{% block content %}
			Content
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
			{% include 'layout/footer.twig' %}
		{% endblock %}
	</footer>
</body></html>
