{% extends "base.twig" %}

{% block content %}
	<div class="introduction-container">
		<div class="container">
			<p class="introduction__text">Ik ben op zoek naar een nieuwe uitdaging in omgeving Amsterdam.</p>
			<div class="margin-bottom--md">
				<h3 class="title title--small">Portfolio</h3>
				<p>Bekijk hier een overzicht van al mijn werk.</p>
				<a href="{{site.link}}" class="link">Bekijk portfolio</a>
			</div>
			<div class="margin-bottom--md">
				<h3 class="title title--small">Curriculum Vitae</h3>
				<p>Voor een uitgebreidere kijk op mijn vaardigheden verwijs ik u naar mijn CV.</p>
				<a href="{{site.link}}" class="link">Bekijk CV</a>
			</div>
		</div>
	</div>

	<div class="recent-projects-container">
		<div class="container">
			<h3 class="title title--small">Recent werk</h3>
			<div class="recent-projects">
				<div class="recent-project">
					<img src="{{site.theme.link}}/assets/img/project1.jpg" alt="Project 1" class="recent-project__image">
				</div>
				<div class="recent-project">
					<img src="{{site.theme.link}}/assets/img/project2.jpg" alt="Project 2" class="recent-project__image">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
