{% extends "base.twig" %}

{% block content %}
	{% for post in posts %}
					<h1 class="section__title">{{post.title}}</h1>
					<p class="section__text">{{cta_text}}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
