.archive-description {
    margin-bottom: 1.875rem;
}

.archive-items {
    margin               : 0;
}

.archive-item {
    list-style   : none;
    border-bottom: 0.0625rem solid #ccc;


    &:last-child {
        margin       : 0;
        padding      : 0;
        border-bottom: none;
    }
}

.archive-item--project {
    margin       : 0;
    padding      : 0;
    border-bottom: 0;
    flex-grow    : 1;
    flex-basis   : calc(50% - 1.875rem);
    margin-bottom: 1.875rem;

    &:last-child,
    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    .archive-items {
        @include large {
    }

    // Removed margin right on last child so that when theres only one portfolio item it takes up the entire width.
    &:last-child {
        margin-right: 0;
    }
}

.archive-item__image {
    display   : block;
    object-fit: cover;
    height    : 200px;
    // Force full width so that when theres only one portfolio item it takes up the entire width.
    width     : 100%;
}