.archive-description {
    margin-bottom: 1.875rem;
}

.archive-items {
    margin               : 0;
    padding              : 0;
    display              : grid;
    gap                  : 1.875rem;
    grid-template-columns: repeat(2, 1fr);

    @include medium {
        grid-template-columns: repeat(3, 1fr);
    }
}

.archive-item {
    list-style   : none;
    border-bottom: 0.0625rem solid #ccc;
    transition: .25s all ease;

    &:last-child {
        margin       : 0;
        padding      : 0;
        border-bottom: none;
    }

    &:hover{
        transform: scale(1.03);
    }
}

.archive-item--project {
    margin       : 0;
    padding      : 0;
    border-bottom: 0;

    &:last-child {
        display: none;

        @include medium {
            display: block;
        }
    }
}

.archive {

    .archive-items {
        @include large {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .archive-item--project {
        &:last-child {
            display: block;
        }
    }
}

.archive-item__image {
    display   : block;
    object-fit: cover;
    height    : 200px;
    // Force full width so that when theres only one portfolio item it takes up the entire width.
    width     : 100%;
}