.home {
    header {
        padding-bottom: 0;
    }

    main {
        @include medium {
            padding-top: 4.6875rem;
        }

        @include large {
            padding-top: 6.25rem;
        }
    }
}

.hero-container {
    padding-bottom: 1.875rem;

    >* {
        @include medium {
            max-width: 550px;
        }

        @include large {
            max-width: 750px;
        }
    }

    @include medium {
        padding-bottom: 4.6875rem;
    }

    @include large {
        padding-bottom: 6.25rem;
    }
}

.hero__title {
    font-size    : 3rem;
    margin-bottom: 0;

    @include medium {
        font-size: 3.5rem;
    }

    @include large {
        font-size: 4.25rem;
    }
}

.hero__subtitle {
    font-weight: 400;
    font-size  : 2.25rem;
    color      : $color--primary;

    @include medium {
        font-size: 2.75rem;
    }

    @include large {
        font-size: 3.25rem;
    }
}

.overview-container {
    padding         : 1.875rem 0;
    background-color: transparentize($color: $color--primary, $amount: 0.95);

    @include medium {
        padding: 4.6875rem 0;
    }

    @include large {
        padding: 6.25rem 0;
    }
}

.overview__text {
    font-family  : $font-family--headings;
    font-weight  : 500;
    font-size    : 1.5rem;
    margin-bottom: 1.875rem;
}

.overview__inner-container {
    margin-bottom: 1.875rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.recent-projects-container {
    padding-top: 1.875rem;

    @include medium {
        padding-top: 4.6875rem;
    }

    @include large {
        padding-top: 6.25rem;
    }
}