/* ========================================================
    FRONTPAGE
    ======================================================== */

.home {

    /* ========================================================
    HEADER
    ======================================================== */
    header {
        padding      : 0;
        margin-bottom: $spacing--md;

        @include large {
            margin-bottom: $spacing--xl;
        }
    }

    /* ========================================================
    NAVBAR
    ======================================================== */
    .navbar {
        padding: 0;
        margin : 0 auto;
        width  : 100%;
    }

    /* ========================================================
    NAVBAR //END
    ======================================================== */
    /* ========================================================
    HERO
    ======================================================== */
    .hero {
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;
        background-color   : white;
    }

    .hero-container {
        @extend .container;
        @extend .flex;
        @extend .flex-column;
        height         : 100%;
        justify-content: space-between;
        padding        : $spacing--sm 0;

        @include medium {
            padding: $spacing--md 0;
        }

        @include large {
            padding: 4.6875rem 0;
        }
    }

    .hero__content {
        @extend .grid;
        @extend .grid-column--two;

        @include medium {
            grid-template-columns: 1fr;
        }

        @include large {
            grid-template-columns: 1fr 1fr;
            gap                  : $spacing--xl;
        }
    }

    .hero__title {
        font-size: 2.5rem;

        @media screen and (min-width: 3$spacing--md) {
            font-size: 3.25rem;
        }

        @include medium {
            font-size: 3.5rem;
        }

        @include large {
            font-size    : 4rem;
            margin-bottom: $spacing--md;
            min-height   : 10rem;
        }
    }

    .hero__subtitle {
        font-weight: 400;
        opacity    : .75;
        line-height: 1.75;
        font-size  : 1.25rem;
    }

    .hero__image-container {
        display: none;

        @include large {
            display        : flex;
            align-items    : center;
            justify-content: center;
        }
    }

    .hero__image {
        width: 100%;
    }

    .hero__footer {
        @extend .grid;
        grid-template-columns: 1fr 0.5fr;
        justify-content      : space-between;
    }

    .hero__footer-column {
        @extend .flex;
        align-items: center;
    }

    .hero__scroll-button {
        @extend .hero__footer-column;
        color  : inherit;
        opacity: 0.5;

        svg {
            margin-right: 0.9375rem;
        }
    }

    .hero__social-container {
        justify-content: flex-end;
        align-items    : center;
        display        : none;

        @include medium {
            display: flex;
        }

        >* {
            margin-right: 0.625rem;
            white-space : nowrap;

            @include medium {
                margin-right: 1.25rem;
            }

            @include large {
                margin-right: $spacing--sm;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    /* ========================================================
    HERO //END
    ======================================================== */

    /* ========================================================
    MAIN CONTENT
    ======================================================== */

    section.recent-work {
        .section__footer {
            @extend .flex;
            justify-content: center;
            align-items    : center;

            margin-top: $spacing--md;

            @include large {
                margin-top: $spacing--lg;
            }
        }
    }

    /* ========================================================
    WORK PROCESS
    ======================================================== */
    section.work-process {
        .section__header-wrapper {
            background-color: $primary-color;
            color           : $background-color;
            padding         : $spacing--md 0;
            margin-bottom   : $spacing--md;

            @include medium {
                padding      : $spacing--lg 0;
                margin-bottom: $spacing--lg;
            }

            @include large {
                padding      : $spacing--xl 0;
                margin-bottom: $spacing--xl;
            }
        }

        .section__header {
            margin-bottom: 0;
        }
    }

    .work-process__cards {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : $spacing--md;

        @include medium {
            grid-template-columns: repeat(2, 1fr);
        }

        @include large {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .work-process__card {
        padding         : $spacing--md $spacing--sm;
        background-color: transparentize($color: $primary-color, $amount: .95);
        border-radius   : 0.625rem;
        transition      : .35s all ease;

        &:hover {
            @include large {
                box-shadow: 10px 10px 15px -1px transparentize($color: $primary-color, $amount: 0.85);
                transform : translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-1deg, 1deg);
            }
        }

        >* {
            margin-bottom: $spacing--sm;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .work-process__image {
        display     : flex;
        margin-left : auto;
        margin-right: auto;
        width       : 4.6875rem;
        filter      : $primary-color-filtered;
    }

    .work-process__title {
        font-size: 1.625rem;
    }

    /* ========================================================
    WORK PROCESS //END
    ======================================================== */
    /* ========================================================
    TOOLS
    ======================================================== */
    section.tools {
        background-color: white;
        padding         : $spacing--md 0;
        margin-bottom   : 0;

        @include medium {
            padding: $spacing--lg 0;
        }

        @include large {
            padding: $spacing--xl 0;
        }
    }

    .tools-container {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : $spacing--sm;
        align-items          : center;

        @include small {
            align-items: flex-end;
        }

        @include medium {
            grid-template-columns: repeat(3, 1fr);
        }

        @include large {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .tool {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        opacity       : .75;

        &:last-child {
            @include small {
                grid-column: 1 / span 2;
            }
        }

        @include small {
            justify-content: center;
        }
    }

    .tool__image {
        width     : $spacing--md;
        filter    : $font-color-filtered;
        transition: .25s all ease;

        &.timber {
            width: 2.625rem;
        }

        &.acf {
            width: 90px;
        }

        &.figma {
            width: 2.1875rem;
        }

        &:hover {
            @include large {
                filter: $primary-color-filtered;
            }
        }

        @include small {
            margin-bottom: 0.625rem;
        }

        @include medium {
            margin-bottom: 1.25rem;
        }
    }

    .tool__text {
        @extend .text--muted;
        font-variant: all-small-caps;
        font-weight : 700;
        font-size   : 1.25rem;
        line-height : 1;

        @include medium {
            font-size: 1.5rem;
        }
    }

    /* ========================================================
    TOOLS //END
    ======================================================== */
    /* ========================================================
    PRICING
    ======================================================== */
    $pricing-border : 0.0625rem solid rgba(51, 51, 51, 0.15);
    $pricing-padding: $spacing--md 0;

    .pricing-container {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : $spacing--md;
        align-items          : center;

        @include medium {
            grid-template-columns: repeat(2, 1fr);
        }

        @include large {
            gap: $spacing--lg;
        }
    }

    .pricing-item {
        border: $pricing-border;
        height: 100%;
    }

    .pricing-item.recommended {
        border-width  : 0.1875rem;
        border-color  : $primary-color;
        position      : relative;
        display       : flex;
        flex-direction: column;

        &:before {
            content         : "Aanbevolen";
            background-color: $primary-color;
            color           : $background-color;
            padding         : 0.9375rem 0;
            font-variant    : all-small-caps;
            font-weight     : 700;
            font-size       : 1.375rem;
            letter-spacing  : 0.1rem;
            line-height     : 1;
            position        : absolute;
            top             : -$spacing--sm;
            left            : 0;
            right           : 0;
            width           : 60%;
            margin          : 0 auto;
            display         : inline-flex;
            justify-content : center;
            align-items     : center;
            text-align      : center;
        }
    }

    .pricing-item__header {
        padding: $spacing--md $spacing--sm;
    }

    .pricing__title {
        text-align   : center;
        font-size    : $spacing--sm;
        margin-bottom: $spacing--sm;
    }

    .pricing-item__body {
        border-top   : $pricing-border;
        border-bottom: $pricing-border;
        padding      : $spacing--sm 0 $spacing--sm 0;
    }

    .pricing__text {
        @extend .text;
        @extend .text--muted;
    }

    .price {
        display        : flex;
        align-items    : flex-end;
        justify-content: center;
        color          : $primary-color;
        font-size      : 2.25rem;
        line-height    : 1;
        font-weight    : 700;

        &:before {
            display     : block;
            margin-right: 0.625rem;
            content     : "v.a.";
            color       : transparentize($color: $font-color, $amount: 0.5);
            font-weight : 400;
            font-size   : 1rem;
        }
    }

    .pricing-item__footer {
        display        : flex;
        justify-content: center;
        padding        : $spacing--md 0 $spacing--md 0;
    }

    /* ========================================================
    PRICING //END
    ======================================================== */
    /* ========================================================
    MAIN CONTENT //END
    ======================================================== */
    /* ================================f========================
    MISC
    ======================================================== */
    .section__header {
        margin-bottom: $spacing--md;
    }

    .section__title {
        margin-bottom: $spacing--sm;
    }

    /* ========================================================
    MISC //END
    ======================================================== */
}

/* ========================================================
    FRONTPAGE //END
    ======================================================== */