.contact-details-container {
    background-color: transparentize($color: $color--primary, $amount: .8);
    border-radius   : 0.3125rem;
}

.contact-details__header {
    background-color: transparentize($color: $color--primary, $amount: .9);
    padding         : 1.875rem;
}

.contact-details__body {
    padding: 1.875rem;
}

.contact-details__list {
    margin : 0;
    padding: 0;
}

.contact-details__item {
    margin     : 0 0 1rem;
    padding    : 0;
    display    : flex;
    align-items: center;

    .dashicons {
        color: $color--primary;
    }
}