.services {
    @extend .archive-item__tags;
}

.service {
    @extend .archive-item__tag;
}

.project__header {
    gap          : $spacing--sm;
    margin-bottom: $spacing--sm;

    @include medium {
        gap: $spacing--md;
    }

    @include large {
        gap: $spacing--lg;
    }
}

.project-description {
    @extend .grid;
    gap: $spacing--sm;
}

.project__title {
    margin-bottom: 0;
}

.project__text {
    @extend .section__text;
}

.project-url-button {
    justify-self: flex-start;
}

.services__title {
    margin-bottom: $spacing--sm;
}

.project-gallery {
    @extend .grid;
    gap: $spacing--md;

    @include medium {
        gap: $spacing--lg;
    }
}

.project-gallery__image {
    width     : 100%;
    min-height    : 400px;
    object-fit: cover;

    @include medium {
        min-height: 600px;
    }

    @include large {
        min-height: 800px;
    }
}

.more-projects__title {
    margin-bottom: $spacing--sm;

    @include medium {
        font-size: 2.5rem;
    }

    @include large {
        font-size    : 2.75rem;
        margin-bottom: $spacing--md;
    }
}