/* ========================================================
    THEME FONTS
    ========================================================= */
$primary-font: "Ubuntu",
sans-serif;

/* ========================================================
    THEME COLOURS
    ======================================================== */
$primary-color         : #138DD1;
$primary-color-filtered: invert(39%) sepia(84%) saturate(2338%) hue-rotate(177deg) brightness(94%) contrast(85%);
$background-color   : #F0F2F7;
$font-color         : #333;
$font-color-filtered: invert(10%) sepia(37%) saturate(0%) hue-rotate(227deg) brightness(106%) contrast(77%);

/* ========================================================
    SPACERS
    ======================================================== */
$spacing--sm : 1.875rem;
$spacing--md : 3.125rem;
$spacing--lg : 6.25rem;
$spacing--xl : 9.375rem;