.breadcrumbs {
    list-style: none;
    display   : flex;
    flex-wrap : wrap;
    margin    : 0;
    padding   : 0;
}

.breadcrumbs li {
    display       : inline-block;
    vertical-align: middle;
    margin        : 0 1rem 0 0;
}

.breadcrumbs .separator {
    color: #ccc;
}