.breadcrumbs {
    list-style: none;
    display   : flex;
    flex-wrap : wrap;
    margin    : 0;
    padding   : 0;
    color     : transparentize($color: $color--primary, $amount: 0.6);

    a {
        color: inherit;
    }
}

.breadcrumbs li {
    display       : inline-block;
    vertical-align: middle;
    margin        : 0 0.625rem 0 0;
}