.breadcrumbs {
    @extend .container;
    @extend .flex;
    align-items: center;
    overflow   : scroll;

    padding: 1rem 0;
    color  : transparentize($color: black, $amount: 0.5);

    a {
        color: inherit;
    }

    @include medium {
        overflow: auto;
    }
}

[class*="breadcrumb--"] {
    white-space: nowrap;
}

.separator {
    margin: 0 0.625rem 0 0.625rem;
}