.link {
    display      : inline-flex;
    align-items  : center;
    text-align   : center;
    border-radius: 0.3125rem;

    &:before {
        content     : "\f344";
        font-family : "Dashicons";
        margin-right: $spacing--base;
    }
}

.button {
    @extend .link;
    border : 0;
    outline: 0;
}

.button--primary {
    background-color: $color--primary;
    color           : white;
}

.button--cta {
    color     : white;
    padding   : 0.625rem;
    border    : 0.0625rem solid;
    transition: .25s all ease;

    &:hover {
        text-decoration : none;
        background-color: white;
        color           : $color--primary;
    }
}

.link--archive-item {
    @extend .link;
}