.button {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    padding         : 0.5rem 1.5rem;
    border-radius   : 0.3125rem;
    text-decoration : none;
    transition      : .5s all ease;
    background-color: $primary-color;
    color           : $background-color;
    border          : 0.0625rem solid transparent;

    &:hover {
        background-color: transparent;
        color           : $primary-color;
        border-color    : $primary-color;
        text-decoration : none;
    }

    &:after {
        display    : inline-block;
        font-family: "Dashicons";
        content    : "\f344";
        margin-left: 0.625rem;
    }
}

.button--rounded-full {
    border-radius: 62.4375rem;
}

.link {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    transition     : .25s all ease;
    font-weight    : 700;


    &:before {
        display     : inline-block;
        font-family : "Dashicons";
        content     : "\f344";
        margin-right: 0.625rem;
    }

    &:hover {
        text-decoration: none;
        margin-left    : 0.625rem;
    }
}