input,
textarea {
    width      : 100%;
    font-family: inherit;
    font-size  : inherit;
    padding    : 0.625rem;
    border     : 1px solid #ccc;
}

input[type="submit"] {
    @extend .button;
    padding: 0.8125rem;
}

textarea {
    min-height: 12.5rem;
}

.wpcf7-form {
    position: relative;

    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    >* {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

div.wpcf7 {
    .ajax-loader {
        position: absolute;
        bottom  : -$spacing--sm;
        left    : 0;
        right   : 0;
        margin  : 0 auto;
    }
}

.contact-form {
    textarea {
        max-width: 100%;
        min-width: 100%;
    }

    @include large {
        max-width: 800px;
        margin   : 0 auto;
    }
}