input,
textarea {
    width      : 100%;
    font-family: inherit;
    font-size  : inherit;
    padding    : 0.625rem;
    border     : 1px solid #ccc;
}

input[type="submit"] {
    @extend .button;
    padding: 0.8125rem;
}

textarea {
    min-height: 12.5rem;
    max-width : 100%;
    min-width : 100%;
}