.navbar {
    @extend .container;
    display        : flex;
    justify-content: space-between;
    padding        : 1rem 0;

    @include medium {
        padding: 1.5625rem 0;
    }
}

.hamburger {
    &:after {
        content    : "\f333";
        font-family: "Dashicons";
        font-size  : $spacing--sm;
        color      : $font-color;
    }

    @include medium {
        display: none;
    }
}

.hamburger--white {
    @extend .hamburger;

    &:after {
        color: white;
    }
}

.navmenu-overlay {
    @include small {
        display         : flex;
        flex-direction  : column;
        height          : 100vh;
        width           : 100vw;
        position        : fixed;
        z-index         : 5;
        left            : -100vw;
        top             : 0;
        background-color: #fefefe;
        color           : $font-color;
        overflow-x      : hidden;
        transition      : 0.5s;
    }

    a {
        color  : $font-color;
        display: block;
    }

    .button--close {
        position: absolute;
        top     : $spacing--sm;
        right   : $spacing--sm;

        &:after {
            content    : "\f14a";
            font-family: "Dashicons";
            font-size  : $spacing--sm;
        }

        @include medium {
            display: none;
        }
    }
}

.navmenu {
    text-align: center;
    width     : 90%;
    margin    : auto;

    @include medium {
        width      : auto;
        display    : flex;
        align-items: center;
    }
}

.nav-item {
    margin-bottom: $spacing--sm;

    &:last-child {
        margin-bottom: 0;
    }

    &[class*="button"] {
        color        : white;
        border-radius: 62.4375rem;
        display      : flex;
        align-items  : center;

        &:hover {
            color: $primary-color;
        }
    }

    @include medium {
        margin-bottom: 0;
        margin-right : $spacing--sm;

        &:last-child {
            margin-right: 0;
        }
    }
}