{% block header %}
	{% if fn('is_front_page') %}
		{% for post in posts %}
			<div class="hero">
				<div class="hero-container">
					<div class="navbar">
						{% include "partials/logo.twig" %}
						<div class="hamburger" onclick="openNav()"></div>
						<div class="navmenu-overlay">
							<a href="javascript:void(0)" class="button--close" onclick="closeNav()"></a>
							<div class="navmenu">
								{% include "partials/navigation.twig" %}
							</div>
						</div>
					</div>
					<div class="hero__content">
						<div class="hero__text">
							<h1 class="hero__title">Ik maak websites<br><span></span></h1>
							<h3 class="hero__subtitle">{{post.content}}</h3>
						</div>
						<div class="hero__image-container">
							<img src="{{theme.link}}/assets/img/preview.svg" class="hero__image">
						</div>
					</div>
					<div class="hero__footer">
						<div class="hero__footer-column">
							<a href="#work" class="hero__scroll-button">
								<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.043 1.327V30.49M17 22.673l-8 8-8-8" stroke="currentColor" stroke-width="1.328" stroke-linecap="round" stroke-linejoin="round"/></svg>
								<div>Scroll naar mijn recente projecten</div>
							</a>
						</div>
						<div class="hero__footer-column hero__social-container">
							<a href="{{theme.link}}/assets/downloads/resume.pdf" target="_blank" class="button button--border" download>Download C.V.</a>
							<a href="https://www.linkedin.com/in/tomgraafmans/" target="_blank">
								<svg width="32" height="32" viewbox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.333 10.6667C23.4547 10.6667 25.4896 11.5095 26.9899 13.0098C28.4902 14.5101 29.333 16.5449 29.333 18.6667V28H23.9997V18.6667C23.9997 17.9594 23.7187 17.2811 23.2186 16.781C22.7185 16.2809 22.0403 16 21.333 16C20.6258 16 19.9475 16.2809 19.4474 16.781C18.9473 17.2811 18.6663 17.9594 18.6663 18.6667V28H13.333V18.6667C13.333 16.5449 14.1759 14.5101 15.6762 13.0098C17.1764 11.5095 19.2113 10.6667 21.333 10.6667Z" fill="currentColor"/>
									<path d="M8.00033 12H2.66699V28H8.00033V12Z" fill="currentColor"/>
									<path d="M5.33366 7.99999C6.80642 7.99999 8.00033 6.80608 8.00033 5.33332C8.00033 3.86056 6.80642 2.66666 5.33366 2.66666C3.8609 2.66666 2.66699 3.86056 2.66699 5.33332C2.66699 6.80608 3.8609 7.99999 5.33366 7.99999Z" fill="currentColor"/>
								</svg>
							</a>
							<a href="https://github.com/varvino" target="_blank">
								<svg width="32" height="32" viewbox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.3337 29.3333V24.1733C21.3837 23.5376 21.2978 22.8984 21.0817 22.2984C20.8656 21.6984 20.5242 21.1512 20.0803 20.6933C24.267 20.2267 28.667 18.64 28.667 11.36C28.6667 9.49845 27.9506 7.70828 26.667 6.36001C27.2748 4.73136 27.2318 2.93115 26.547 1.33335C26.547 1.33335 24.9737 0.86668 21.3337 3.30668C18.2777 2.47844 15.0563 2.47844 12.0003 3.30668C8.36033 0.86668 6.78699 1.33335 6.78699 1.33335C6.10216 2.93115 6.05919 4.73136 6.66699 6.36001C5.37383 7.71828 4.65702 9.52463 4.66699 11.4C4.66699 18.6267 9.06699 20.2133 13.2537 20.7333C12.815 21.1866 12.4767 21.7272 12.2607 22.3199C12.0448 22.9126 11.9561 23.5441 12.0003 24.1733V29.3333M12.0003 25.3333C5.33366 27.3333 5.33366 22 2.66699 21.3333L12.0003 25.3333Z" stroke="white" stroke-width="2.43683" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="navbar">
			{% include "partials/logo.twig" %}
			<div class="hamburger" onclick="openNav()"></div>
			<div class="navmenu-overlay">
				<a href="javascript:void(0)" class="button--close" onclick="closeNav()"></a>
				<div class="navmenu">
					{% include "partials/navigation.twig" %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
