.cta-container {
    background-color: $color--primary;
    color           : white;
    padding         : 1.875rem 0;
}

.cta__text {
    margin-bottom: 1.875rem;
    text-align   : center;
}

.social__icons {
    display        : flex;
    justify-content: space-between;

    max-width: 150px;
    margin   : 0 auto;
}

.social__icon {
    color     : $color--primary;
    transition: .25s all ease;

    &:hover {
        transform: scale(1.15);
    }
}