/* ========================================================
    FOOTER
    ======================================================== */
/* ========================================================
    GENERAL
    ======================================================== */
footer {
    background-color: $primary-color;
    color           : $background-color;
    padding         : $spacing--md 0;

    @include medium {
        padding-top: 4.6875rem;
    }

    @include large {
        padding-top: $spacing--lg;
    }

    .logo__text {
        color: $background-color;
    }

    a,
    .copyright {
        color: transparentize($color: $background-color, $amount: 0.35);
    }

    .divider {
        margin: $spacing--md 0;
    }

    .button {
        background-color: transparent;
        border-color    : $background-color;
    }
}

/* ========================================================
    GENERAL //END
    ======================================================== */

/* ========================================================
    CALL TO ACTION
    ======================================================== */
.cta-container {
    text-align: center;

    @include medium {
        margin-bottom: 4.6875rem;
    }

    @include large {
        margin-bottom: $spacing--lg;
    }
}

.cta-container {
    @extend .container;
    @extend .flex;
    @extend .flex-column;

    .text {
        margin-bottom: $spacing--sm;
    }

    .button {
        align-self: center;
    }
}

/* ========================================================
    CALL TO ACTION //END
    ======================================================== */
/* ========================================================
    FOOTER'S FOOTER
    ======================================================== */
.footer-container {
    @extend .container;
    @extend .grid;
    grid-template-columns: 1fr;

    @include large {
        grid-template-columns: 0.5fr 1fr;
    }
}

/* ========================================================
    SITE INFORMATION
    ======================================================== */
.site-information {
    @include small {
        margin-bottom: $spacing--sm;
    }

    @include medium {
        grid-row: 2;
    }

    @include large {
        grid-row: 1;
    }

    .logo {
        font-size    : 2rem;
        margin-bottom: 0.625rem;
    }

    .logo__image {
        width: 2.5rem;
    }
}

/* ========================================================
    LINKS
    ======================================================== */
.links-container {
    @extend .grid;
    @extend .grid-column--three;
    gap: $spacing--sm;

    @include medium {
        gap          : $spacing--md;
        margin-bottom: $spacing--md;
    }

    @include large {
        gap          : $spacing--lg;
        margin-bottom: 0;
    }
}

.footer-item__title {
    font-weight  : 700;
    margin-bottom: 0.625rem;
}

.contact-links {
    >* {
        margin-bottom: 0.625rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-item__link {
    display      : block;
    margin-bottom: 0.625rem;

    &:last-child {
        margin-bottom: 0;
    }
}

/* ========================================================
    FOOTER'S FOOTER //END
    ======================================================== */
/* ========================================================
    FOOTER //END
    ======================================================== */